body {
  /* The image used */
  background-image: url("image1.jpg");

  /* Full height */
  height: 100%
  width: 100%

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  /* Giving top padding of navigation*/
.navigation {
  padding-top: 120px;
}
form {
  text-align: center;
}
/* Centering h1 */
h1 {
  text-align: center;
  font: 40px Arial;
  font-weight: 900;

}

/* Attaching the flex-box to listed items, giving the links space within that box, and centering the text */
ul {
  display: flex;
  list-style-type: none;
  margin: 50px 100px;
  font: 17px Arial;
  text-align: center;
}

.c1 {
  text-align: center;
}

.rect {
  margin: auto;
  align-content: center;
  background-color: black;
  height: 340px;
  mix-blend-mode: normal;
  width: 700px;
}

/* Giving li a background and height-space */
li {
  flex: 1;
  height: 66px;
  background: #1a1a1a;
}

/* Making the li's inside of navbar interactive with color change and padding/margin */
li:hover {
  flex:1.1;
  transition:all .2s ease;
  background: #333333;
}

/* Styling and sizing link/letters while giving them a block-level, 'click' ability */
a {
  display: block;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 23px;
}

/* Giving the middle, border-lines a color and size */
.navigation li:not(:first-child){
	border-left: 2px solid #ecf0f1;


}
#b{
    padding-top: 30px;
    padding-left: 20px;
}

#terminal{
    border-radius: 15px;
    background-color: rgb(7, 0, 0);
    color: greenyellow;
    border:solid rgb(143, 180, 74) 0.5px;
    font-size: 24px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    width: 97%;
    
    
}

input{
    background-color: rgb(10, 0, 0);
    color: greenyellow;
    border-color: black;
    border-style: hidden;
    font-size: 24px;
    width: 40%;
    
}




#d1{ 
    color: rgb(29, 221, 74);
    text-align: left;
    background-color: rgb(8, 8, 8);
    }
    



#in1::placeholder{
    background-color: black;
}

button#but{
    background-color: rgb(7, 0, 0);
    border:solid greenyellow 2px;
    color: greenyellow;
    font-size: 150%;
    border-radius: 15px;
    margin-left: 30px;
    margin-left: auto;
    height: 50px;
    width: 100px;
}
#b1{
    margin-top: 20px;
    margin-left: 50%;
}

section{
  margin: auto;
  width:560px;
  display:flex;
  justify-content:space-between;
}
button{
  text-align: center;
  font-size:28px;
  border:none;
  padding:16px 40px 16px 40px;
  border-radius:5px;
    box-shadow:0px 10px 0px 0px #1d7f8a, 
      0px 0px 10px 0px rgba(120, 120, 120, 0.4);
  color:white;
  background:#239dab;
  cursor:pointer;
  transition:all 0.16s;
  position:relative;
  top:0;
}
button:focus{
  outline:none;
}
button:active{
  box-shadow: 0px 5px 0px 0px #1d7f8a;
  top:5px;
}



